.DS_Store
venv
__pycache__
.idea
.vscode
.idea
!**/__pycache__/
.pytest_cache

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
summary

*.mp4

test.py
ai/birdseyeview/data

checkpoint/20200222-162430_pod_backCompat_adam_wPerson05_720-540_REafterDeathV_afterFaster_bs16_fix3_nokpsLoss_personLoss3Layers_loss3layers/
